$color-page: page #fcfcfc #1f1f1f;
$color-general: general #eeeeee #424242;

$color-primary: primary #66ccff #66ccff;
$color-secondary: secondary #66ccff #66ccff;
$color-accent: accent #66ccff #66ccff;
$color-positive: positive #66ccff #66ccff;
$color-negative: negative #b03535 #b30f0f;